# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/bootstrap/grunt
/node_modules/bootstrap/less
/node_modules/bootstrap/CHANGELOG.md
/node_modules/bootstrap/Gruntfile.js
/node_modules/bootstrap/package.json
/node_modules/bootstrap/README.md