# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/grunt
/node_modules/less
/node_modules/changelog.md
/node_modules/gruntfile.js
/node_modules/package.json
/node_modules/readme.md